#section_nav {
	
	background-color: black;
	height: 35px;
	font-size: 25px;
	font-weight: bold;
	font: Tahoma;
	
}

#section_nav ul {
	
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
	
}

#section_nav li {

	display: inline;
	padding: 15px;
	vertical-align: middle;
	
}

body {

	color: black; 
	font-family: Verdana, Arial, Geneva, Arial Black; 
	font-weight: bold;
	background-color: #F6EBE8;
	font-size: 25px;
	
}
		
h1 {
	
	text-decoration: underline;
	font-size: 150%;
	text-align: center;

}

h2 {
	
	text-decoration: underline;
	font-size: 120%;
	text-align: center;
}
		
.paragraph {
	
	color:black; 
	font-size: 15px;
	font-style: italic;
	line-height: 1.5em;
	background-color: white;
	padding: 20px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;

}

#divmain {
	
	color:black; 
	
}

#divabsolute {
	
	background-color: black;
	color: white;
	position: absolute;
	top: 500px;
	left: 150px;
	width: 250px;
	height: 250px;
	
}

ul {
	
	list-style: none;
	padding: 0;
	margin: 0;
	
}

ul li a {
	
	text-decoration: none;
	font-family: Verdana, Arial, Geneva, Arial Black; 
	background-color: #5C755E;
	color: white;
	display: block;
	width: 220px;
	margin: 5px;
	padding: 3px;
	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
	height: 25px;
	line-height: 25px;
}

ul li a: hover {
	
	background-color: #D3D3D3;
	color: black;
	
}

a:link {
	
	color: blue;

}

a:visited {
	
	color: white;
	
}

a:hover {
	
	color: #F15A51;
	
}

.highlight {

	background-color: #ffff00

}

#profile {
	
	display: block;
	width: 40%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	background-color: silver;
	border-color: black;
	border-width: 2px;
	border-style: ridge;
	
}

#copyright {
	
	color:black; 
	font-size: 15px;
	font-style: italic;
	text-align: center;
	
}		