div {

	background-size: contain;

}


body {

	color: black; 
	font-family: Verdana, Arial, Geneva, Arial Black; 
	font-weight: bold;
	background-color: #F6EBE8;
	font-size: 25px;
	
}
		
h1 {
	
	text-decoration: underline;
	font-size: 150%;
	text-align: center;

}

h2 {
	
	text-decoration: underline;
	font-size: 120%;
	text-align: center;
}

.paragraph {
	
	text-align: center;
	color:black; 
	font-size: 15px;
	font-style: italic;
	line-height: 1.5em;
	background-color: white;
	padding: 20px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	word-wrap: break-word;

}

#divmain {
	
	color:black; 
	
}

#divabsolute {
	
	background-color: black;
	color: white;
	position: absolute;
	top: 500px;
	left: 150px;
	width: 250px;
	height: 250px;
	
}

#photographyskills {

	/*type, position, image*/
	list-style: square inside none;

}

table {

	border-collapse: seperate;

}

table.auto {

	table-layout: auto;

button {

	margin-top: 30px;
	float: left;
	height: 50px;

}

img {

	float: left;
	margin-right: 10px;
	margin-left: 10px;

}

::selection{

	color: black;
	background-color: #F6EBE8;

}

.filtered {

	filter: grayscale(100%)

}

#tabs {



}

.link {

	width: 22px;

}

.profile {
	
	display: block;
	width: 30%;
	height: 30%;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	background-color: silver;
	border-color: black;
	border-width: 2px;
	border-style: ridge;

}

#index_button {

	color: black;


}

#copyright {
	
	color:black; 
	font-size: 15px;
	font-style: italic;
	text-align: center;
	
}